body {
  --background: #ffffff;
  --body-bg-color: #ffffff;
  --body-text-color: #000000;
  --body-text-color-rgb: 0, 0, 0;
  --header-bg-color: #2c2c2c;
  --header-bg-color-rgb: 44, 44, 44;
  --header-text-color: #ffffff;     
  --header-menu-link-color: #ffeb3b;
  --header-menu-link-active-color: #f7ae02;
  --header-menu-link-active-color-rgb: 247, 174, 2;
  --page-title-bg-color: #2c2c2c;
  --page-title-bg-color-rgb: 44, 44, 44;
  --page-title-text-color: #ffffff;  
  --page-title-menu-link-color: #ffeb3b;
  --page-title-menu-link-active-color: #d2f716;
  --footer-bg-color:#2c2c2c;
  --footer-text-color: #ffffff;
  --footer-menu-link-color: #ffeb3b;
  --sidebar-bg-color: #2c2c2c;
  --sidebar-bg-color-rgb: 44, 44, 44;
  --sidebar-text-color: #ffffff;
  --sidebar-logo-bgcolor: #2c2c2c;
  --sidebar-menu-link-color: #ffffff;
  --sidebar-menu-link-color-rgb: 0, 0, 0;
  --sidebar-menu-link-active-color: #000000;
  --sidebar-menu-link-active-bg-color: #ffffff;
  --sidebar-menu-link-active-bg-color-rgb: 255, 255, 255;
  --submenu-bg-color: #f4f4f4;
  --submenu-link-color: #2c2c2c;
  --submenu-link-color-rgb: 44, 44, 4;
  --submenu-link-active-color: #ffffff;
  --submenu-link-active-bg-color: #2c2c2c;
  --submenu-link-active-bg-color-rgb: 44, 44, 44;
  --body-top-block-bg-color: #2c2c2c;
  --body-top-block-text-color: #ffffff;
  --body-top-block-link-bg-color: #ffeb3b;
  --body-top-block-link-color: #000000;
  --body-middle-block-bg-color: #2c2c2c;
  --body-middle-block-text-color: #ffffff;
  --body-middle-block-text-color-rgb: 255, 255, 255;
  --table-header-bg-color: #2c2c2c;
  --table-header-bg-color-rgb: 44, 44, 44;
  --table-header-text-color: #ffffff;
  --tab-header-bg-color: #2c2c2c;
  --tab-header-bg-color-rgb: 44, 44, 44;
  --tab-header-text-color: #ffffff;
  --accordion-header-bg-color: #2c2c2c;
  --accordion-header-text-color: #ffffff;
  --accordion_header-text-color: #ffffff;
  --calendar-views-bg-color: #2c2c2c;
  --calendar-views-bg-color-rgb: 44, 44, 44;
  --calendar-views-text-color: #ffffff;
  --calendar-views-active-bg-color: #f4af1b;
  --calendar-views-active-text-color: #ffffff;
  --calendar-header-bg-color: #2c2c2c;
  --calendar-header-text-color: #ffffff;
  --calendar-header-link-color: #f4af1b;
  --calendar-body-link-color: #f4af1b;
  --calendar-body-active-bg-color: #2c2c2c;
  --calendar-body-active-text-color: #ffeb3b;
  --calendar-events-bg-color: #ffeb3b;
  --calendar-events-text-color: #2c2c2c;
}