body {
    --background: #ffffff;
    --body-bg-color: #ffffff;
    --body-text-color: #000000;
    --body-text-color-rgb: 0, 0, 0;
    --header-bg-color: #a47530;
    --header-bg-color-rgb: 164, 117, 48;
    --header-text-color: #ffffff;      
    --header-menu-link-color: #ffeb3b;
    --header-menu-link-active-color: #f7ae02;
    --header-menu-link-active-color-rgb: 247, 174, 2;
    --page-title-bg-color: #a47530;
    --page-title-bg-color-rgb: 164, 117, 48;
    --page-title-text-color: #ffffff;  
    --page-title-menu-link-color: #ffeb3b;
    --page-title-menu-link-active-color: #d2f716;
    --footer-bg-color:#a47530;
    --footer-text-color: #ffffff;
    --footer-menu-link-color: #ffeb3b;
    --sidebar-bg-color: #a47530;
    --sidebar-bg-color-rgb: 164, 117, 48;
    --sidebar-text-color: #ffffff;
    --sidebar-logo-bgcolor: #a47530;
    --sidebar-menu-link-color: #ffffff;
    --sidebar-menu-link-color-rgb: 0, 0, 0;
    --sidebar-menu-link-active-color: #000000;
    --sidebar-menu-link-active-bg-color: #ffffff;
    --sidebar-menu-link-active-bg-color-rgb: 255, 255, 255;
    --submenu-bg-color: #f4f4f4;
    --submenu-link-color: #a47530;
    --submenu-link-color-rgb: 164, 117, 48;
    --submenu-link-active-color: #ffffff;
    --submenu-link-active-bg-color: #a47530;
    --submenu-link-active-bg-color-rgb: 164, 117, 48;
    --body-top-block-bg-color: #a47530;
    --body-top-block-text-color: #ffffff;
    --body-top-block-link-bg-color: #ffeb3b;
    --body-top-block-link-color: #000000;
    --body-middle-block-bg-color: #a47530;
    --body-middle-block-text-color: #ffffff;
    --body-middle-block-text-color-rgb: 255, 255, 255;
    --table-header-bg-color: #a47530;
    --table-header-bg-color-rgb: 164, 117, 48;
    --table-header-text-color: #ffffff;
    --tab-header-bg-color: #a47530;
    --tab-header-bg-color-rgb: 164, 117, 48;
    --tab-header-text-color: #ffffff;
    --accordion-header-bg-color: #a47530;
    --accordion-header-text-color: #ffffff;
    --accordion_header-text-color: #ffffff;
    --calendar-views-bg-color: #a47530;
    --calendar-views-bg-color-rgb: 164, 117, 48;
    --calendar-views-text-color: #ffffff;
    --calendar-views-active-bg-color: #f4af1b;
    --calendar-views-active-text-color: #ffffff;
    --calendar-header-bg-color: #a47530;
    --calendar-header-text-color: #ffffff;
    --calendar-header-link-color: #f4af1b;
    --calendar-body-link-color: #f4af1b;
    --calendar-body-active-bg-color: #a47530;
    --calendar-body-active-text-color: #ffeb3b;
    --calendar-events-bg-color: #ffeb3b;
    --calendar-events-text-color: #a47530;
    --button-primary-bg-color: #a47530;
    --button-primary-bg-color-rgb: 148, 120, 98;
    --button-primary-text-color: #ffffff;
    --button-secondary-bg-color: #f44336;
    --button-secondary-bg-color-rgb: 244, 67, 54;
    --button-secondary-text-color: #ffffff;
}