$pagination-border-width: 0;
$pagination-bg: transparent;
$pagination-disabled-bg: transparent;

$pagination-padding-x-lg: 0;
$pagination-padding-x-sm: 0;
$font-size-base: 0.8125rem;
$white-color: #ffffff !default;
.pagination{
  .page-link
  {
    background: $blue-color;
    color: $white-color;
    border: 1px solid #dee2e6;
    padding: 0.25rem 0.625rem;
    // font-size: $font-size-base;
  }
  .page-item.active{
    .page-link{
      background: $white-color;
      color: $blue-color;
      border: 1px solid #dee2e6;
    }
  }
}