$table-bg-accent: rgba(#000, .03);
$table-border-color: rgba(#000, .06);
$table-bg-hover: rgba(#000, .02); // Grey 100 (on white background)

$bmd-table-header-font-size: .875rem;
$bmd-table-column-values-font-size: 0.75rem;
$bmd-table-border-color-inverse: rgba(#fff, .06);
